//
// DefaultAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation



open class DefaultAPI {
    /**

     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func apiEpisodeGet(completion: @escaping ((_ data: ResultList?,_ error: Error?) -> Void)) {
        apiEpisodeGetWithRequestBuilder().execute { (response, error) -> Void in
            completion(response?.body, error)
        }
    }

    /**
     - GET /api/episode/
     - returns: RequestBuilder<ResultList> 
     */
    open class func apiEpisodeGetWithRequestBuilder() -> RequestBuilder<ResultList> {
        let path = "/api/episode/"
        let URLString = RickAndMortyApiClientAPI.basePath + path
        let parameters: [String:Any]? = nil
        
        let url = URLComponents(string: URLString)

        let requestBuilder: RequestBuilder<ResultList>.Type = RickAndMortyApiClientAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "GET", URLString: (url?.string ?? URLString), parameters: parameters, isBody: false)
    }

}
